img{max-width: 100%;}
pre{font-size: 1.2em;}
.oculta{display: none;}
.exibe{display: inline;}
.coresBrasil{color:black; background-color: red;}
.coresCaxias{color:brown;background-color: white;}
.coresFarroupilha{color:green;background-color: white;}
.coresGremio{color:blue;background-color: white;}
.coresJuventude{color:green;background-color: white;}
.coresPelotas{color:blue;background-color: yellow;}
.coresSaoPaulo{color: green;background-color: yellow;}