body{font-family: "Arial", "Comic Sans MS", sans-serif; background: darkseagreen }
h1 {font-family:sans-serif; color: green}
h2 {font-family: serif; color: greenyellow}
h5{font-family: serif; color: darkseagreen}
p {font-family:"Comic Sans MS"; color: seagreen}
