body{
    font-family:"Comic Sans MS", sans-serif; text-align: justify; color: #FF7733;
    border-color: green; border-style: solid; border-width: 2px;
    background: #f8f9fa;
    /*padding-left: 30px; padding-right: 70px;*/
    /*margin-left: 30px; margin-right: 30px; margin-bottom: 30px; margin-top: 30px;*/
}

h1 {text-align: center; color: green}
h2 {text-align: center; color: green}
h3 {text-align: center; color: darkgreen}
h4 {text-align: center; color: darkgreen}
h5 {text-align: center; color: darkgreen}
h6 {text-align: center; color: darkgreen}
p  {font-family: "Comic Sans MS"; text-indent: 50px;}

img.imgProg { max-width: 100%; }

#WalesckoRodape{color:#777;text-align: center; padding: 30px 0;}
#LomaLindaLogo{float: left;margin 0 0 50px 50px}




