body{
    font-family: sans-serif; text-align: justify; color: #155724;
    background: #b1dfbb;
}

h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
h4 {text-align: center;}
h5 {text-align: center;}
h6 {text-align: center;}
p  { text-align: center;}
strong {font-family: sans-serif, monospace;}

footer{
    text-align: center;
    color: #b1dfbb;
    text-shadow: #000000 4px 4px 2px;
    background-color: #157347;
    padding: 10px 10px 10px 10px;

}

/*#WalesckoRodape{color:#39b3d7;text-align: center;}*/





