body{
    font-family: sans-serif; text-align: center; color: #2d6987;
    background: #fff3cd;
}

h1 {font-size: 50px; text-align: center; color: #138496;}
h2 {font-size: 40px; text-align: center; color: #138496;}
h3 {text-align: center; color: #269abc;}
h4 {text-align: center; color: #269abc;}
h5 {text-align: center; color: #269abc;}
h6 {text-align: center; color: #269abc;}

p  {text-align: center; font-family: sans-serif;}

footer{
    text-align: center;
    color: #f7f7f7;
    text-shadow: #000000 4px 4px 2px;
    background-color: #4e555b;
    padding: 18px 10px 2px 10px;
}
 .menu-botton{
     padding-top: 6px;
     padding-bottom: 6px;

 }
