img.normal { float: left; heigth: 300px; width: 300px;}
img.alta { float: left; heigth: 420px; width: 300px;}
h1 {border-bottom-style: inset; color: whitesmoke;}
pre {font-size: 1.2em;}
h3{color: whitesmoke;}
p{color:whitesmoke;}
body {background-color: darkgrey;}
.fonteAzul{color: blue;}
.fonteRed{color:red;}
.fonteGreen{color:green}
.oculta{display: none;}
.exibe{display: inline;}
.italico{font-style: italic;}
.entreLetras{letter-spacing: 0.5em;}
.aDireita{text-align: right;}

#WalesckoRodape{color:#777;text-align: center; padding: 30px 0;}
